---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

// 在页面初次加载时执行，返回[{"标签1": 包含该标签1的文章}, {"标签2": 包含该标签2的文章}]
export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");
  const tags = allPosts.map((post) => post.frontmatter.tags);
  const flatTags = tags.flat();
  const uniqueTags = [...new Set(flatTags)];
  // 返回包含该标签的文章
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((posts) =>
      posts.frontmatter.tags.includes(tag)
    );

    return { params: { tag: tag }, props: { posts: filteredPosts } };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>所有包含{tag}的文章列表</p>
  <ul>
    {
      posts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
