---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "关于";
const identity = {
  name: "Astro",
  occupation: "Web Developer",
  hobbies: ["Reading", "Traveling", "Hiking"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Node.js"];
let isLoading = false;
let skillColor = "red";
let fontWeight = "bold";
let textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <style
    define:vars={{
      skillColor,
      fontWeight,
      textCase,
    }}
  >
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>

  <h2>my infomation</h2>
  <p>my name is {identity.name}</p>
  <p>my occupation is {identity.occupation}</p>
  <p>my hobbies are {identity.hobbies.join(", ")}</p>
  <h2>my skills</h2>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <h2>{isLoading ? "loading..." : "done"}</h2>
</BaseLayout>
