---
import BaseLayout from "../layouts/baseLayout.astro";
const pageTitle = "博客";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/posts/post-1">post 1</a></li>
    <li><a href="/posts/post-2">post 2</a></li>
    <li><a href="/posts/post-3">post 3</a></li>
    <li><a href="/posts/post-4">post 4</a></li>
  </ul>
</BaseLayout>
